body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1d1f20;
  }
  
  h1 {
    font-family: "Inconsolata", Consolas, monospace;
    font-size: 4em;
    color: #d7b94c;
  }
  
  .typing {
    position: relative;
  }
  .typing::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: white;
    background: #1d1f20;
    -webkit-animation: typing 4s steps(16) forwards, caret 1s infinite;
            animation: typing 4s steps(16) forwards, caret 1s infinite;
  }
  
  @-webkit-keyframes typing {
    to {
      width: 0;
    }
  }
  
  @keyframes typing {
    to {
      width: 0;
    }
  }
  @-webkit-keyframes caret {
    50% {
      color: transparent;
    }
  }
  @keyframes caret {
    50% {
      color: transparent;
    }
  }