section{
  height: 400px;
}


.student{
width: 275px;
display: inline-block;
margin: 20px;
text-align: center;
border: 1px solid #cccccc;
border-radius: 10px;
/* box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd; */
background-color: rgba(255,255,255,0.1);
transition: box-shadow .3s;
transition: transform .3s;
}
.student:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  transform: scale(1.05);
}

.student a{
margin: 10px;
}

.student .picture{
  overflow-y: scroll;
  overflow-x: hidden;
width: 275px;
height: 275px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: 2px solid white;
}
.studentName{
color:#ffffff;
padding: 5px;
font-size: 18px;
font-weight: bold;
}

.StudentInfo a{ 
  color: white;
  text-decoration: none;
}

.description{
  /* width: 831px;
  max-width: 831px; */
  display: block;
  /* height: 100px; */
  text-align: center;
  margin: 50px;
  padding: 30px;
  font-size: 1.2em;
  border: 2px solid #cccccc;
  border-radius: 10px;
  color: white;
}
